<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version_info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Website</string>
			<key>Key</key>
			<string>website</string>
			<key>DefaultValue</key>
			<string>http://www.kooobao.cn</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Calculator</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font</string>
			<key>Key</key>
			<string>calculator_textsize</string>
			<key>DefaultValue</key>
			<integer>18</integer>
			<key>Titles</key>
			<array>
				<string>14</string>
				<string>18</string>
				<string>22</string>
				<string>26</string>
			</array>
			<key>Values</key>
			<array>
				<integer>14</integer>
				<integer>18</integer>
				<integer>22</integer>
				<integer>26</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Console</string>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>14</string>
				<string>18</string>
				<string>20</string>
				<string>24</string>
			</array>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Size</string>
			<key>Key</key>
			<string>console_textsize</string>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>14</integer>
				<integer>18</integer>
				<integer>20</integer>
				<integer>24</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
